# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
_config.yml
2025-05-29-Update.md

#posts
2024-02-13-Songs.md
2024-08-28-AGhostlyEncounter.md
2025-05-29-Update.md
2025-07-31-Writing.md
2026-01-30-LostInTime.md